<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= typeof title !== 'undefined' ? title : 'College Security System' %></title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- Page-specific styles -->
    <% if (typeof pageStyles !== 'undefined') { %>
        <% pageStyles.forEach(style => { %>
            <link rel="stylesheet" href="/css/<%= style %>.css">
        <% }); %>
    <% } %>
</head>
<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
    <%- body %>
    
    <!-- Main JavaScript -->
    <script src="/js/utils.js"></script>
    
    <!-- Page-specific scripts -->
    <% if (typeof pageScripts !== 'undefined') { %>
        <% pageScripts.forEach(script => { %>
            <script src="/js/<%= script %>.js"></script>
        <% }); %>
    <% } %>
</body>
</html>
